*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    box-shadow: 0px 3px 10px #333;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    margin: 1.6rem;
}
.logo{
    position: flex;
    align-items: center;
 }
 .nav-list{
    display: flex;
    align-items: center;
 }
 .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
 }
 .nav-item{
    margin: 0 15px;
 }
 .nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
 }
 .button-pedido{
    display: flex;
    align-items: center;
 }   
 .button-pedido button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
 }
 .button-pedido button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
 }
 .mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
   
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .button-pedido {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .button-pedido {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .button-pedido button{
        width: 100%;
    }
    .open {
        display: block;
    }
}

.menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .cart{
    display: flex;
    flex-direction: row-reverse;
   display: none;
  }
  
  .cart-content {
    border: 1px solid #ccc;
    border-radius: 10%;
    padding: 20px;
    margin: 30px;
  
  }
  
  #cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  #cart-items li {
    margin-bottom: 5px;
  }
  
  #checkout {
    margin-top: 10px;
  }
  #order-details {
    margin-top: 20px;
  }
  
  #order-details label {
    display: block;
    margin-bottom: 5px;
  }
  
  #order-details input, #order-details select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #order-details select {
    width: 100%;
  }
  .cart-menu{
    display: block;
  }

  .cart-menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .open {
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
