*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
}
body{
  background-image: url('../image/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section{
  height: 60vh;
  
}
header {
    background-color: #333;
    box-shadow: 0px 3px 10px #333;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    margin: 1.6rem;
    
}
.logo{
    position: flex;
    align-items: center;
 }
 .nav-list{
    display: flex;
    align-items: center;
 }
 .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
 }
 .nav-item{
    margin: 0 15px;
 }
 .nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
 }
 .button-pedido{
    display: flex;
    align-items: center;
 }   
 .button-pedido button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
 }
 .button-pedido button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
 }
 .mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
   
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .button-pedido {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .button-pedido {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .button-pedido button{
        width: 100%;
    }
    .open {
        display: block;
    }
    
}

h1{
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  margin-bottom: 30px;
  width: 300px;
  border-radius: 15px;
}
.menu-pizza{
  display: flex;
  justify-content:center;
  align-items: center;
  margin : 20px;
  overflow-x: auto;
  
}

 .menu-item{
  box-shadow: 4px 4px 12px #aaaa;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    margin-left: 40px;
    text-align: center;
    background-color: #fff;

  }
  .title{
    font-weight: bold;
  }
  
  .add-to-cart{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #B2D235;
    color: #fff;
    
    
  }
  

  .cart{
    display: flex;
    justify-content: center;
    
    
    }
    .cart-content{
      background-color: #fff;
      box-shadow: 4px 4px 12px #aaaa;
      border-radius: 15px;
      padding: 15px;
      margin-left: 40px;
    }
    .cart-content button{
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      background-color: #B2D235;
      color: #fff;
    }
  
  #cart-items {
    list-style-type: none;
    padding: 10px;
  }
  
  #cart-items li {
    margin-bottom: 5px;
  }
  
  #checkout {
    margin-top: 10px;
  }
  #order-details {
    margin-top: 20px;
  }
  
  #order-details label {
    display: block;
    margin-bottom: 5px;
  }
  
  #order-details input, #order-details select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #order-details select {
    width: 100%;
  }
  .cart-menu{
    display: block;
  }

  .cart-menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
    width: 100%;
    bottom: 0;
}
